
body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}

.header {
    background: url(https://1.bp.blogspot.com/-zetzYZTZTDg/YJB5FIt_meI/AAAAAAABPRg/QwUl5erB_AwSdUMarwhTrYs400D5SlWAgCLcBGAsYHQ/s16000/header.png) no-repeat center;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    display: block;
    min-height: 100vh;
  }


.avatar {
    width: 90px;
    border-radius: 50%;
    
}



.card-body {
    margin-top: 30px;
    text-align: center;
}

.container-fluid {
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
  }
  
  ::-webkit-scrollbar {
    display: none;
    }


  .carousel__container {
    white-space: nowrap;
    margin: 40px 0px;
    margin-bottom: 30vh;
    padding-bottom: 20vh; 
  }
  .carousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }
  .carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
  }
  .carousel__container:hover .carousel-item {
    opacity: 0.3;
  }
  .carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
  }

  .carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }


.card-body img{
    max-width: 65vh;
    box-sizing: border-box;
    object-position: center;

}

.card {
    width: 100vh;
}




  .footer {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: white;
}

.footer-links {
    display: flex;
    align-items: center;
}
.footer-links a {
    color: white;
    opacity: 0.8;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}
.footer-links a:hover {
    opacity: 1;
}
.footer .fa-heart {
    color: #D23333;
}